.account-container {
    display: flex;
    padding: 20px;
}

.user-info {
    flex: 1; 
    height: 100%; 
    padding: 20px;
    background-color: #eeeeee; 
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    word-wrap: break-word; 
}

.profile-picture {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    margin-bottom: 20px;
}

.user-info h2 {
    color: #222831; 
}

.user-info button {
    background-color: #4ecca3; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-info button:hover {
    background-color: #47b78a; 
}

.likes {
    margin-bottom: 20px;
    background-color: #eeeeee; 
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.dark-mode .likes {
    margin-bottom: 20px;
    background-color: #333; 
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#account-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
    padding: 0;
}

.dark-mode #account-card{
    background-color: #333;
    color:white;
}

.account-post-date{
    margin: 0.69em;
    text-align: center;
    flex-grow: 1;
    font-size: 1.2em;
}

.account-trash{
}

.account-action-icon{
    margin-right: 0.69em;
    color:#333;
  }

.account-action-icon:hover{
    color:#9F70FD;
    cursor: pointer;
}

.dark-mode .account-action-icon{
    color:white;
}

.dark-mode .account-action-icon:hover{
    color:#9F70FD;
    cursor: pointer;
}

.likes h2 {
    color: #222831; 
}

.image-gallery {
    flex: 3; /* Allow the image-gallery to grow */
    margin-left: 20px;
    padding: 20px;
    background-color: #eeeeee; 
    border-radius: 5px;
    overflow: auto; /* Add scroll if content overflows */
}

.edit-icon {
    font-family: 'Font Awesome 5 Free'; 
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px; 
}

.edit-icon:hover {
    color: lightblue; 
}
.profile-picture-container {
  position: relative;
  display: inline-block; /* Ensure the container takes the size of its contents */

}

.profile-picture {
  display: block;
  border-radius: 50%; /* Ensure the image is circular */
}

.edit-profile {
  display: none; /* Initially hide the edit text and symbol */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px; 
  height: 100px; 
  transform: translate(-50%, -60%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 50%; /* Make the overlay circular */
}

.profile-picture-container:hover .edit-profile {
  display: flex; /* Show the edit text and symbol when hovering over the profile picture container */
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

/* Adjust the size and color of the edit symbol */
.edit-profile i {
  margin-right: 5px;
}

.dark-mode .account-container {
    background-color: #1C1C1C;
    color: white;
}

.dark-mode .user-info {
    background-color: #333;
    color: white;
}

.dark-mode .exp-bar,
.dark-mode .image-gallery {
    background-color: #333;
    color: white;
}

.dark-mode h2 {
    color: white;
}
