.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  margin: 0;
  font-family: 'Times New Roman', sans-serif;
  background-color: #e6e6e6;
  color: black; 
}

.dark-mode {
  background-color: #1C1C1C;
  color: white;
}

#bar {
  display:flex;
}

.logos {
  margin-top:0.75%;
}

.nav {
  align-items: right;
  display: flex;
  position: absolute;
  margin-top:1%;
  right:0;
}

.items {
  margin:40px;
  font-size: 1.5em;
  text-decoration: none;
  color: inherit;
}

.items:hover {
  color: aqua;
}

#modeswitch {
    background: inherit;
    border: none;
    font-size: 2em;
    color: inherit;
    height: 110px;
    width: 60px;
}

#modeswitch:hover {
  color: aqua;
}

#doodal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.prompt-display{
  margin-left:30%;
  margin-right:30%;
  display:flex;
  background-color: gray;

}

.prompt-title {
  flex:3;
}

.entry-button {
  margin-left:10%;
  color: inherit;
  flex:1;
}

.like {
  background-color: transparent;
  border: none;
  font-size: 3em;
  color: red;
  margin-right: 5%;
}

#card{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: gray;
  color: white;
  padding:0;
}

.user_info{
  display:flex;
  align-items: center;
  margin-left:5%;
}

.name {
  margin-left:5%;
}

.gal{
  margin-left: 1%;
  margin-right: 1%;
}

.filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 1.1em;
  justify-content: center;
}

.filter-item {
  margin-bottom: 5px;
  margin-left: 10%;
}

.filter-item:hover {
  color: #007bff;
}