.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  margin: 0;
  background-color: #e6e6e6;
  color: black; 
}

.dark-mode {
  background-color: #1C1C1C;
  color: white;
}

#bar {
  display:flex;
  margin-bottom: 25px;
}

.logos {
  margin-top:0.75%;
  margin-left: 0.75%
}

.nav {
  align-items: right;
  position: absolute;
  flex-grow: 0;
  margin-top:1%;
  right:20px;
}

.items {
  margin:40px;
  font-size: 1.5em;
  text-decoration: none;
  color: inherit;
  height:40px;
}

#doodal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top:0.2%;

}

.prompt-display{
  background-color: #eeeeee;
  position: relative;
  /* margin-top: 25px; */
}

.banner{
  width: 100%;
  height: 100%;
}

.memo-banner{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prompt-button{
  display:flex;
  justify-content: center;
  width:100%;
}

.prev-prompt{
  display:flex;
  justify-content: center;
  width:100%;
}

.entry-button {
  margin-left:2%;
  color: inherit;
  height: 80%;
  align-self: center;
}

.home-imgs{
  margin-top:25px;
  margin-bottom: 25px;
}

.home-imgs:hover{
  cursor: pointer;
}

.like {
  background-color: transparent;
  border: none;
  font-size: 3em;
  color: red;
  margin-right: 5%;
}

.gallery-banner{
  background-color: #eeeeee;
  margin-bottom: 1%;
}

.gallery-title {
  padding: 0.5%;
  font-size: 2.5em;
}

.gallery-img:hover {
  cursor: pointer;
}

#card{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #eeeeee;
  padding:0;
}

.user_info{
  display:flex;
  align-items: center;
  margin-left:5%;
}

.name {
  margin-left:5%;
}

.gal{
  margin-left: 1%;
  margin-right: 1%;
}

.filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 1.2em;
  justify-content: center;
}

.filter-item {
  margin-bottom: 5px;
  margin-left: 10%;
}

.dropdown-click {
  position: relative;
  z-index: 1000;
}

.drop-menu {
  background-color: #D9D9D9;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  justify-content: center;
}

.drop-items {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  margin:10px 0;
}

#modeswitch {
  background: inherit;
  border: none;
  color:black;
  margin:10px 0;
  font-size: 1.1em;
}

.dropdown-opened {
  background-color: #D9D9D9;
  margin-bottom: 0px;
  color:black;
}

.profile {
  padding: 10px 45px;
  padding-bottom: 0;
  margin-top:30px;
  font-size: 1.5em;
  text-decoration: none;
}

.drop-icons {
  font-size: 0.85em;
}

.breakline {
  background-color: #D9D9D9;
  margin:0;
  color:black
}

.items:hover {
  color: #6C22A6;
}

#modeswitch:hover {
  color: #6C22A6; 
}

.reg-hover:hover {
  color: #6C22A6;
  cursor: pointer;
}

.dark-mode .reg-hover:hover{
  color:#9F70FD;
}

.dark-mode .items:hover{
  color:#9F70FD;
}

.dark-mode #modeswitch:hover{
  color:#9F70FD;
}

.dark-mode .prompt-display, .dark-mode .gallery-banner, 
.dark-mode .drop-items, .dark-mode .drop-menu,
.dark-mode #modeswitch, .dark-mode .dropdown-opened,
.dark-mode #card, .dark-mode .name {
  background-color: #333;
  color: white;
}

.dark-mode .card-header {
  background-color: #333; 
  color: white; 
}

.dark-mode .card-footer {
  background-color: #333;
  color: white;
}

.dark-mode .prompt-title {
  background-color: #30303A
}
.dark-mode .btn-outline-dark {
  --bs-btn-color: #f8f9fa;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #f8f9fa;
  --bs-btn-hover-border-color: #f8f9fa;
  --bs-btn-focus-shadow-rgb: 248,249,250;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f8f9fa;
  --bs-btn-active-border-color: #f8f9fa;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f8f9fa;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f8f9fa;
  --bs-gradient: none;
}

body {
  overflow-x: hidden; 
}

.custom-dropdown .dropdown-menu::before {
  content: '';
  position: absolute;
  top: -17px; 
  left: calc(60% - 21px);
  border-width: 0 17px 17px 17px; 
  border-style: solid;
  border-color: transparent transparent #8D949E transparent;
}

.custom-dropdown .dropdown-menu::after {
  content: '';
  position: absolute;
  top: -16px; 
  left: calc(60% - 21px); 
  border-width: 0 17px 17px 17px; 
  border-style: solid;
  border-color: transparent transparent white transparent; 
}

.nav-link-custom {
  /* display: flex; */
  margin: 10px;
  font-size: 2em;
  text-decoration: none;
  color: white;
  width: 75px;
  height: 75px;
  align-items: center;
  justify-content: center;
}

.nav-link-custom-extra {
  display: flex;
  margin: 10px;
  font-size: 2em;
  text-decoration: none;
  color: white;
  width: 75px;
  height: 75px;
  align-items: center;
  justify-content: center;
}

.profile-link {
  text-decoration: none;
}


.custom-dropdown.show > .dropdown-toggle::before,
.custom-dropdown.show > .dropdown-toggle::after {
  display: none !important;
  content: none !important;
}


.purple-navbar {
  background-color: #712CF9;
}

.prompt-title {
  padding: 0.5%;
  margin: 0;
  text-align: center;
  flex: 1;
  background-color: #8D949E;
  color: white;
}


