.settings-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.settings-content input,
.settings-content button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.settings-content button {
    background-color: #4ecca3; 
    color: #fff; 
    border: none;
    cursor: pointer;
}

.settings-content button:hover {
    background-color: #47b78a; 
}

/* Dark Mode Styles */
.dark-mode .settings-overlay {
    background-color: rgba(0, 0, 0, 0.8); /* Darken overlay */
}

.dark-mode .settings-content {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
}

.dark-mode .settings-content input,
.dark-mode .settings-content button {
    border-color: #666; /* Dark border color */
    background-color: #444; /* Dark background color for input and button */
    color: #fff; /* Light text color */
}

.dark-mode .settings-content button:hover {
    background-color: #666; /* Dark hover color for button */
}
